<html>
<head>
    <meta charset="UTF-8">
    <title>Game Directory</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css" />
</head>
<body>
<header>
    <p>Games</p>
    {{warning}}<br/>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <form action="/create-game" method="post">
        <input type="text" placeholder="Game name" name="gameName" width="200"/>
        <select name="gameGenre">
            <option selected disabled value="">Genre</option>
            <option value="adventure">Adventure</option>
            <option value="rpg">RPG</option>
            <option value="strategy">Strategy</option>
            <option value="shooter">Shooter</option>
        </select>
        <select name="gamePlatform">
            <option selected disabled value="">Platform</option>
            <option value="pc">PC</option>
            <option value="ps4">PS4</option>
            <option value="xbone">XBox One</option>
            <option value="wiiu">Wii U</option>
        </select>
        <input type="number" placeholder="Release Year" name="gameYear"/>
        <button type="submit">Submit</button>
    </form>
</header>

<div class="game-parent">
    {{#games}}
    <div class="game-block">

        {{^display}}
        <form action="/accept-changes" method="post">
            <input type="text" placeholder="Game name" name="gameName" width="200"/>
            <input type="hidden" name="id" value="{{id}}" />
            <select name="gameGenre">
                <option selected disabled value="">Genre</option>
                <option value="adventure">Adventure</option>
                <option value="rpg">RPG</option>
                <option value="strategy">Strategy</option>
                <option value="shooter">Shooter</option>
            </select>
            <select name="gamePlatform">
                <option selected disabled value="">Platform</option>
                <option value="pc">PC</option>
                <option value="ps4">PS4</option>
                <option value="xbone">XBox One</option>
                <option value="wiiu">Wii U</option>
            </select>
            <input type="number" placeholder="Release Year" name="gameYear"/>
            <button type="submit">Save Changes</button>
        </form>
        {{/display}}

        {{#display}}
        {{name}} - {{genre}} - {{platform}} - {{releaseYear}}<br/><br/>
        <form id="edit" action="/edit-game" method="post">
            <input type="hidden" value="{{id}}" name="id">
            {{#mine}}
            <button type="submit">Edit</button>
            {{/mine}}
        </form>
        <form id="delete" action="/delete-game" method="post">
            <input type="hidden" value="{{id}}" name="id"/>
            {{#mine}}
            <button type="submit">Delete</button>
            {{/mine}}
        </form>
        {{/display}}
    </div>
    {{/games}}
</div>
</body>
</html>